/* 
L Dettling
CIS 658

NavBar css - https://www.youtube.com/watch?v=5R9jFHlG6ik
*/


.App {
  width: 100vw;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: row; 
  width: 100vw;
  height: 100vh;
}

.content-area {
  flex: 1; 
  padding: 20px;
  margin-left: 250px; 
  overflow-y: auto; 
}

.body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100vh;
  width: 250px;
  background-color: #0032a0;
  position: fixed; 
  left: 0; 
  top: 0;
}

.SidebarList {
  height: 100;
  width: 100;
  padding: 0;
}

.SidebarList .row {
  width: 100;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #000000;
}

.SidebarList #active {
  background-color: #000000;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%
}

.inventory-container {
  padding: 20px;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.inventory-table th,
.inventory-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.inventory-table th {
  background-color: #2F4050;
  color: white;
}



.ordersPreview {
  border-color: #000000;
  border-width: 2;
  display: flex;
  flex-direction: row;
}